.container {
	width: 100%;
	max-width: 1400px;
	padding: 0 15px;
	margin: 0 auto;
}
header {
	width: 100%;
	height: 100px;
	background-color: white;
}
.menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.section {
	margin-top: 25px;
}
.menu-btn {
	display: block;
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 50%;
	position: relative;
	margin-left: 50px;
	margin-right: 45px;
	span {
		position: absolute;
		top: 50%;
		margin-top: -1px;
		left: 50%;
		margin-left: -10px;
		width: 20px;
		height: 2px;
		background-color: black;
		&::before {
			position: absolute;
			top: 50%;
			margin-top: -1px;
			left: 50%;
			margin-left: -10px;
			width: 20px;
			height: 2px;
			background-color: black;
			content: "";
			display: block;
			-webkit-transition: 0.5s;
			transition: 0.5s;
			-webkit-transform: translateY(-5px);
			transform: translateY(-5px);
		}
		&::after {
			position: absolute;
			top: 50%;
			margin-top: -1px;
			left: 50%;
			margin-left: -10px;
			width: 20px;
			height: 2px;
			background-color: black;
			content: "";
			display: block;
			-webkit-transition: 0.5s;
			transition: 0.5s;
			-webkit-transform: translateY(5px);
			transform: translateY(5px);
		}
	}
}
.menu-btn_active {
	span {
		height: 0;
		&::before {
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		&::after {
			-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}
	}
}
.menu_leftside {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	img {
		margin: 21px 0px 11px 0px;
	}
	p {
		width: 166px;
		height: 26px;
		font-size: 23.5px;
		font-family: "Secular One", sans-serif;
		color: black;
		margin: 37px 0px 37px 22px;
	}
}
.menu_rightside {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	#minilogo {
		height: 30px;
		margin-left: 0px;
	}
	p {
		font-family: "Rosario", sans-serif;
		font-size: 20px;
		font-weight: bold;
		margin: 38px 12px 38px 0px;
	}
	img {
		margin: 42px 56px 43px 0px;
	}
}
.kzt {
	width: 18px;
	height: 15px;
}
.logo {
	width: 70px;
	height: 61px;
}
main {
	background: url("assets/img/pexels-photo-2104742.jpeg") center no-repeat;
	background-size: cover;
	position: relative;
	height: 1000px;
}
.main_search {
	position: absolute;
	top: 400px;
	left: 290px;
	right: 300px;
	background-color: white;
	width: 900px;
	height: 70px;
	border-radius: 30px;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	img {
		width: 38px;
		height: 45.48px;
		margin-top: 15px;
		margin-left: 20px;
	}
	p {
		font-size: 25px;
		font-family: "Rosario", sans-serif;
		padding: 15px 0px 25px 38px;
		color: #5f5d5d;
	}
}
.footer {
	background-color: black;
	width: 100%;
	height: 600px;
	padding-top: 158px;
}
.footer_footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.left_up {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	img {
		width: 87px;
		height: 78px;
	}
	p {
		width: 166px;
		height: 26px;
		font-size: 23.5px;
		font-family: "Secular One", sans-serif;
		color: white;
		margin-left: 22px;
		text-align: center;
		margin-top: 23px;
	}
}
.left_down {
	color: white;
	font-size: 23.5px;
	p {
		margin-top: 46px;
	}
}
.right_up {
	.first_inp {
		width: 532px;
		height: 65px;
		border-radius: 5px;
		padding: 22px 305px 18px 28px;
		font-size: 16px;
		margin-left: 112px;
	}
	.subscribe {
		background-color: #00A44B;
		width: 289px;
		height: 65px;
		border-radius: 5px;
		margin-left: 50px;
		color: white;
		font-size: 23px;
	}
}
.right_down {
	margin-top: 53px;
	margin-left: 60px;
}
#priceline {
	margin-left: 80px;
}
#booking {
	margin-left: 80px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
	html {
		width: 100%;
		overflow-x: hidden;
	}
	body {
		width: 100%;
		overflow-x: hidden;
	}
}
@media only screen and (-o-min-device-pixel-ratio: 3/2) {
	html {
		width: 100%;
		overflow-x: hidden;
	}
	body {
		width: 100%;
		overflow-x: hidden;
	}
}
@media only screen and (min--moz-device-pixel-ratio: 1.5) {
	html {
		width: 100%;
		overflow-x: hidden;
	}
	body {
		width: 100%;
		overflow-x: hidden;
	}
}
@media only screen and (min-device-pixel-ratio: 1.5) {
	html {
		width: 100%;
		overflow-x: hidden;
	}
	body {
		width: 100%;
		overflow-x: hidden;
	}
}
