/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700|Source+Sans+Pro:400,600,700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: white;
  font-size: 1.4rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe\ UI, Roboto, Helvetica\ Neue, Arial, Noto\ Sans, sans-serif;
  color: black;
  line-height: 1.5;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  html,
body {
    width: 100%;
    overflow-x: hidden;
  }
}
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
}

.header__inner {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__inner .header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__inner .header__info .language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 3.3rem;
  font-family: "Rosario", sans-serif;
  font-weight: bold;
  font-size: 2rem;
}
.header__inner .header__info .icons {
  margin-left: 3rem;
}
.header__inner .header__info .icons:last-child {
  margin-left: 0;
}

.main-menu {
  background-color: #fff;
  width: 70px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  padding-top: 13%;
}

.main-menu:hover {
  width: 250px;
  overflow-y: scroll;
}

.main-menu .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  margin-bottom: 70px;
  color: black;
  font-size: 24px;
  font-weight: bold;
}
.main-menu .menu-item .menu__text {
  display: block;
}
.main-menu .menu-item .menu__text::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.main-menu .menu-item .menu__text:hover::after {
  height: 6px;
}
.main-menu .menu-item img {
  margin-right: 30px;
}

.main-menu .menu-item:hover {
  background-color: #d6d6d6;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: #bbbbbb;
  border-radius: 10px;
}

.search-box {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}

.input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 0;
  padding-left: 55px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding-right: 40px;
  color: black;
}

.input-search::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 23px;
  letter-spacing: 2px;
  font-weight: 100;
}

.input-search::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 23px;
  letter-spacing: 2px;
  font-weight: 100;
}

.input-search:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 23px;
  letter-spacing: 2px;
  font-weight: 100;
}

.input-search::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 23px;
  letter-spacing: 2px;
  font-weight: 100;
}

.input-search::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 23px;
  letter-spacing: 2px;
  font-weight: 100;
}

.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 30px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  margin: 0;
  left: 0;
  color: black;
  background-color: transparent;
  pointer-events: painted;
}

.btn-search:focus ~ .input-search {
  width: 600px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(95, 95, 95, 0.5);
  -webkit-transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.input-search:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.intro {
  padding-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 1000px;
  background: url("../img/photo_2021-11-30_12-27-58.jpg") center no-repeat;
  background-size: cover;
}

.intro__inner .intro__request {
  width: 100%;
  max-width: 580px;
  background-color: #ffff;
  overflow: hidden;
}
.intro__inner .intro__request .request__title {
  text-align: center;
  font-family: "Tahoma", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 3rem;
  margin-top: 2.7rem;
}
.intro__inner .intro__request .request__content {
  padding: 0 24px 27px 24px;
}
.intro__inner .intro__request .request__content .request__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.intro__inner .intro__request .request__content .request__text .request__menu {
  font-family: "Tahoma", sans-serif;
  font-size: 1.6rem;
  margin-bottom: 2.5rem;
}
.intro__inner .intro__request .request__content .request__text .request__menu.active {
  font-family: "Tahoma", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
}
.intro__inner .intro__request .request__content .request__text .request__menu.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  margin-top: 1.7rem;
}

.request__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 705px) {
  .request__form {
    display: block;
    widows: 100%;
  }
}
.request__form .input--left .input {
  width: 100%;
  max-width: 248px;
  padding: 15px 0 15px 36px;
  border-radius: 5px;
  border: 1px solid #E5E5E5;
  color: black;
  font-size: 1.6rem;
}
.request__form .input--left .input--user {
  background: url("../img/location 1.svg") left 8px top 13px no-repeat;
}
@media (max-width: 705px) {
  .request__form .input--left .input {
    display: block;
    widows: 100%;
    max-width: 100%;
  }
}
.request__form .input--left .input::-webkit-input-placeholder {
  color: black;
  font-weight: bold;
  font-family: "Tahoma", sans-serif;
}
.request__form .input--left .input::-moz-placeholder {
  color: black;
  font-weight: bold;
  font-family: "Tahoma", sans-serif;
}
.request__form .input--left .input:-ms-input-placeholder {
  color: black;
  font-weight: bold;
  font-family: "Tahoma", sans-serif;
}
.request__form .input--left .input::-ms-input-placeholder {
  color: black;
  font-weight: bold;
  font-family: "Tahoma", sans-serif;
}
.request__form .input--left .input::placeholder {
  color: black;
  font-weight: bold;
  font-family: "Tahoma", sans-serif;
}
.request__form .input--right .input {
  width: 100%;
  max-width: 248px;
  padding: 15px 0 15px 36px;
  border-radius: 5px;
  border: 1px solid #E5E5E5;
  color: black;
  font-size: 1.6rem;
}
.request__form .input--right .input--user {
  background: url("../img/location 1.svg") left 8px top 13px no-repeat;
}
@media (max-width: 705px) {
  .request__form .input--right .input {
    display: block;
    widows: 100%;
    max-width: 100%;
  }
}
.request__form .input--right .input::-webkit-input-placeholder {
  color: #A8A7A7;
  font-weight: bold;
  font-family: "Tahoma", sans-serif;
}
.request__form .input--right .input::-moz-placeholder {
  color: #A8A7A7;
  font-weight: bold;
  font-family: "Tahoma", sans-serif;
}
.request__form .input--right .input:-ms-input-placeholder {
  color: #A8A7A7;
  font-weight: bold;
  font-family: "Tahoma", sans-serif;
}
.request__form .input--right .input::-ms-input-placeholder {
  color: #A8A7A7;
  font-weight: bold;
  font-family: "Tahoma", sans-serif;
}
.request__form .input--right .input::placeholder {
  color: #A8A7A7;
  font-weight: bold;
  font-family: "Tahoma", sans-serif;
}

.dates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}
@media (max-width: 705px) {
  .dates {
    display: block;
    width: 100%;
  }
}
.dates .date {
  width: 100%;
  max-width: 110px;
  padding: 16px 0 16px 20px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
}
@media (max-width: 705px) {
  .dates .date {
    display: block;
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
  }
}
.dates .date::-webkit-input-placeholder {
  font-weight: bold;
  color: black;
}
.dates .date::-moz-placeholder {
  font-weight: bold;
  color: black;
}
.dates .date:-ms-input-placeholder {
  font-weight: bold;
  color: black;
}
.dates .date::-ms-input-placeholder {
  font-weight: bold;
  color: black;
}
.dates .date::placeholder {
  font-weight: bold;
  color: black;
}

.text {
  margin-top: 10px;
  width: 100%;
  padding: 16px 0 16px 40px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
}
.text::-webkit-input-placeholder {
  font-weight: bold;
  color: black;
}
.text::-moz-placeholder {
  font-weight: bold;
  color: black;
}
.text:-ms-input-placeholder {
  font-weight: bold;
  color: black;
}
.text::-ms-input-placeholder {
  font-weight: bold;
  color: black;
}
.text::placeholder {
  font-weight: bold;
  color: black;
}
.text--prof {
  background: url("../img/profile 1.svg") left 8px top 13px no-repeat;
}

.checkbox {
  margin-top: 2.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.checkbox p {
  margin: 0;
  padding: 0;
  font-family: "Tahoma", sans-serif;
  font-size: 1.4rem;
}
.checkbox .checkbox2 {
  margin-right: 1.2rem;
  width: 20px;
  height: 20px;
  border: 2px solid #E5E5E5;
  border-radius: 5px;
}

.form__btn {
  width: 100%;
  margin-top: 2.8rem;
  border: none;
  background-color: transparent;
  background: #00A44B;
  padding: 21px 0;
  border-radius: 5px;
  color: white;
  font-family: "Tahoma";
  font-size: 1.8rem;
  letter-spacing: 7%;
  font-weight: bold;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.form__btn::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: #005c29;
  position: absolute;
  top: -100%;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.form__btn:hover::after {
  top: 0;
}

.section {
  padding: 115px 0;
}
.section .section__title {
  text-align: center;
  font-family: "Tahoma", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 4rem;
}
@media (max-width: 767px) {
  .section .section__title {
    font-size: 3.6rem;
  }
}
@media (max-width: 545px) {
  .section .section__title {
    font-size: 3rem;
  }
}
@media (max-width: 365px) {
  .section .section__title {
    font-size: 1.8rem;
  }
}
.section .section__link {
  display: inline-block;
  color: black;
  font-size: 1.8rem;
  font-family: "Tahoma", sans-serif;
  letter-spacing: 0.85px;
  text-align: center;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-bottom: 12.5rem;
  text-decoration: none;
}
@media (max-width: 365px) {
  .section .section__link {
    font-size: 1.4rem;
  }
}
.section .section__link::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: black;
  margin-top: 0.9rem;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear;
}
.section .section__link:hover::after {
  width: 100%;
}

.planes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 991px) {
  .planes {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.planes .section__block {
  width: 50%;
  max-width: 579px;
  margin: 0 auto;
  margin-bottom: 8.5rem;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 7px 7px 10px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 7px 7px 10px 2px rgba(0, 0, 0, 0.15);
  padding-bottom: 2.5rem;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
@media (max-width: 991px) {
  .planes .section__block {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.planes .section__block:hover {
  -webkit-box-shadow: 7px 7px 10px 2px rgba(0, 0, 0, 0.45);
          box-shadow: 7px 7px 10px 2px rgba(0, 0, 0, 0.45);
}
.planes .section__block .section__img {
  height: 300px;
  width: 100%;
  margin-bottom: 5rem;
  overflow: hidden;
}
.planes .section__block .section__img img {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.9s linear;
  transition: all 0.9s linear;
}
.planes .section__block .section__img:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.planes .section__block .section__content-title {
  margin-left: 2rem;
  margin-bottom: 3rem;
  font-family: "Tahoma", sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
}
.planes .section__block .section__content {
  padding-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.planes .section__block .section__content .person {
  margin-right: 1.5rem;
}
.planes .section__block .section__content .person img {
  border-radius: 50%;
}
.planes .section__block .section__content .section__comment .section__name {
  font-family: "Tahoma", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.planes .section__block .section__content .section__comment .section__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}
.planes .section__block .section__content .section__comment .section__text .comment {
  position: absolute;
  right: 2rem;
}

.footer {
  background-color: black;
  color: white;
  padding: 15.6rem 0;
}
.footer .footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .footer__inner .footer__left {
  margin-right: 11.2rem;
}
.footer .footer__inner .footer__left .footer__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4rem;
}
.footer .footer__inner .footer__left .footer__img img:nth-child(1) {
  margin-right: 2.2rem;
}
.footer .footer__inner .footer__left .footer__nav .footer__link {
  display: inline-block;
  color: white;
  text-decoration: none;
  margin-bottom: 4.1rem;
  font-size: 2rem;
}
.footer .footer__inner .footer__left .footer__nav .footer__link:nth-child(3) {
  margin-bottom: 0;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__form .input {
  border: none;
  display: inline-block;
  padding: 18px 305px 18px 28px;
  border-radius: 5px;
}
@media (max-width: 767px) {
  .footer__form .input {
    margin-bottom: 20px;
    padding: 20px 200px 20px 20px;
  }
}
.footer__form .button {
  margin-left: 50px;
  padding: 0 66px;
  border: none;
  background-color: #00A44B;
  border-radius: 5px;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.footer__form .button::after {
  content: "";
  display: block;
  width: 100%;
  height: 56px;
  background-color: #00682f;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: -1;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.footer__form .button:hover::after {
  left: 0;
}
@media (max-width: 767px) {
  .footer__form .button {
    margin-left: 30px;
    padding: 22px 66px;
    border: none;
    background-color: #00A44B;
    border-radius: 5px;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    z-index: 1;
  }
  .footer__form .button::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #00682f;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -1;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
  }
  .footer__form .button:hover::after {
    left: 0;
  }
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/* Add animation to "page content" */
.page {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
  display: none;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}
@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
.wrapper {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 1000px;
}
@media screen and (max-width: 700px), (max-height: 500px) {
  .wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card-form {
  max-width: 570px;
  margin: auto;
  width: 100%;
}
@media screen and (max-width: 576px) {
  .card-form {
    margin: 0 auto;
  }
}
.card-form__inner {
  background: #fff;
  -webkit-box-shadow: 0 30px 60px 0 rgba(182, 182, 182, 0.4);
          box-shadow: 0 30px 60px 0 rgba(182, 182, 182, 0.4);
  border-radius: 5px;
  padding: 35px;
  padding-top: 180px;
}
@media screen and (max-width: 480px) {
  .card-form__inner {
    padding: 25px;
    padding-top: 165px;
  }
}
@media screen and (max-width: 360px) {
  .card-form__inner {
    padding: 15px;
    padding-top: 165px;
  }
}
.card-form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media screen and (max-width: 480px) {
  .card-form__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.card-form__col {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  margin-right: 35px;
}
.card-form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 480px) {
  .card-form__col {
    margin-right: 0;
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    width: 100%;
    margin-bottom: 20px;
  }
  .card-form__col:last-child {
    margin-bottom: 0;
  }
}
.card-form__col.-cvv {
  max-width: 150px;
}
@media screen and (max-width: 480px) {
  .card-form__col.-cvv {
    max-width: initial;
  }
}
.card-form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.card-form__group .card-input__input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 15px;
}
.card-form__group .card-input__input:last-child {
  margin-right: 0;
}
.card-form__button {
  width: 100%;
  height: 55px;
  background: #038f16;
  border: none;
  border-radius: 2px;
  font-size: 22px;
  font-weight: 500;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-box-shadow: 3px 10px 20px 0px rgba(3, 143, 23, 0.3);
          box-shadow: 3px 10px 20px 0px rgba(3, 143, 23, 0.3);
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .card-form__button {
    margin-top: 10px;
  }
}

.card-item {
  max-width: 430px;
  height: 270px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .card-item {
    max-width: 310px;
    height: 220px;
    width: 90%;
  }
}
@media screen and (max-width: 360px) {
  .card-item {
    height: 180px;
  }
}
.card-item.-active .card-item__side.-front {
  -webkit-transform: perspective(1000px) rotateY(180deg) rotateX(0deg) rotateZ(0deg);
          transform: perspective(1000px) rotateY(180deg) rotateX(0deg) rotateZ(0deg);
}
.card-item.-active .card-item__side.-back {
  -webkit-transform: perspective(1000px) rotateY(0) rotateX(0deg) rotateZ(0deg);
          transform: perspective(1000px) rotateY(0) rotateX(0deg) rotateZ(0deg);
}
.card-item__focus {
  position: absolute;
  z-index: 3;
  border-radius: 5px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.35s cubic-bezier(0.71, 0.03, 0.56, 0.85);
  transition: all 0.35s cubic-bezier(0.71, 0.03, 0.56, 0.85);
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  border: 2px solid rgba(255, 255, 255, 0.65);
}
.card-item__focus:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #08142f;
  height: 100%;
  border-radius: 5px;
  -webkit-filter: blur(25px);
          filter: blur(25px);
  opacity: 0.5;
}
.card-item__focus.-active {
  opacity: 1;
}
.card-item__side {
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0 20px 60px 0 rgba(82, 82, 82, 0.55);
          box-shadow: 0 20px 60px 0 rgba(82, 82, 82, 0.55);
  -webkit-transform: perspective(2000px) rotateY(0deg) rotateX(0deg) rotate(0deg);
          transform: perspective(2000px) rotateY(0deg) rotateX(0deg) rotate(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.8s cubic-bezier(0.71, 0.03, 0.56, 0.85);
  transition: all 0.8s cubic-bezier(0.71, 0.03, 0.56, 0.85);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 100%;
}
.card-item__side.-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: perspective(2000px) rotateY(-180deg) rotateX(0deg) rotate(0deg);
          transform: perspective(2000px) rotateY(-180deg) rotateX(0deg) rotate(0deg);
  z-index: 2;
  padding: 0;
  height: 100%;
}
.card-item__side.-back .card-item__cover {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.card-item__bg {
  max-width: 100%;
  display: block;
  max-height: 100%;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-item__cover {
  height: 100%;
  background-color: #1c1d27;
  position: absolute;
  height: 100%;
  background-color: #1c1d27;
  left: 0;
  top: 0;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}
.card-item__cover:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(6, 2, 29, 0.45);
}
.card-item__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
  padding: 0 10px;
}
@media screen and (max-width: 480px) {
  .card-item__top {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 360px) {
  .card-item__top {
    margin-bottom: 15px;
  }
}
.card-item__chip {
  width: 60px;
}
@media screen and (max-width: 480px) {
  .card-item__chip {
    width: 50px;
  }
}
@media screen and (max-width: 360px) {
  .card-item__chip {
    width: 40px;
  }
}
.card-item__type {
  height: 45px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 100px;
  margin-left: auto;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .card-item__type {
    height: 40px;
    max-width: 90px;
  }
}
@media screen and (max-width: 360px) {
  .card-item__type {
    height: 30px;
  }
}
.card-item__typeImg {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 100%;
  -o-object-position: top right;
     object-position: top right;
}
.card-item__info {
  color: #fff;
  width: 100%;
  max-width: calc(100% - 85px);
  padding: 10px 15px;
  font-weight: 500;
  display: block;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .card-item__info {
    padding: 10px;
  }
}
.card-item__holder {
  opacity: 0.7;
  font-size: 13px;
  margin-bottom: 6px;
}
@media screen and (max-width: 480px) {
  .card-item__holder {
    font-size: 12px;
    margin-bottom: 5px;
  }
}
.card-item__wrapper {
  font-family: "Source Code Pro", monospace;
  padding: 25px 15px;
  position: relative;
  z-index: 4;
  height: 100%;
  text-shadow: 7px 6px 10px rgba(14, 42, 90, 0.8);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media screen and (max-width: 480px) {
  .card-item__wrapper {
    padding: 20px 10px;
  }
}
.card-item__name {
  font-size: 18px;
  line-height: 1;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .card-item__name {
    font-size: 16px;
  }
}
.card-item__nameItem {
  display: inline-block;
  min-width: 8px;
  position: relative;
}
.card-item__number {
  font-weight: 500;
  line-height: 1;
  color: #fff;
  font-size: 27px;
  margin-bottom: 35px;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .card-item__number {
    font-size: 21px;
    margin-bottom: 15px;
    padding: 10px 10px;
  }
}
@media screen and (max-width: 360px) {
  .card-item__number {
    font-size: 19px;
    margin-bottom: 10px;
    padding: 10px 10px;
  }
}
.card-item__numberItem {
  width: 16px;
  display: inline-block;
}
.card-item__numberItem.-active {
  width: 30px;
}
@media screen and (max-width: 480px) {
  .card-item__numberItem {
    width: 13px;
  }
  .card-item__numberItem.-active {
    width: 16px;
  }
}
@media screen and (max-width: 360px) {
  .card-item__numberItem {
    width: 12px;
  }
  .card-item__numberItem.-active {
    width: 8px;
  }
}
.card-item__content {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.card-item__date {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 18px;
  margin-left: auto;
  padding: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 80px;
  white-space: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .card-item__date {
    font-size: 16px;
  }
}
.card-item__dateItem {
  position: relative;
}
.card-item__dateItem span {
  width: 22px;
  display: inline-block;
}
.card-item__dateTitle {
  opacity: 0.7;
  font-size: 13px;
  padding-bottom: 6px;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .card-item__dateTitle {
    font-size: 12px;
    padding-bottom: 5px;
  }
}
.card-item__band {
  background: rgba(0, 0, 19, 0.8);
  width: 100%;
  height: 50px;
  margin-top: 30px;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 480px) {
  .card-item__band {
    margin-top: 20px;
  }
}
@media screen and (max-width: 360px) {
  .card-item__band {
    height: 40px;
    margin-top: 10px;
  }
}
.card-item__cvv {
  text-align: right;
  position: relative;
  z-index: 2;
  padding: 15px;
}
.card-item__cvv .card-item__type {
  opacity: 0.7;
}
@media screen and (max-width: 360px) {
  .card-item__cvv {
    padding: 10px 15px;
  }
}
.card-item__cvvTitle {
  padding-right: 10px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 5px;
}
.card-item__cvvBand {
  height: 45px;
  background: #fff;
  margin-bottom: 30px;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 10px;
  color: black;
  font-size: 18px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 10px 20px -7px rgba(3, 143, 22, 0.35);
          box-shadow: 0px 10px 20px -7px rgba(3, 143, 22, 0.35);
}
@media screen and (max-width: 480px) {
  .card-item__cvvBand {
    height: 40px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 360px) {
  .card-item__cvvBand {
    margin-bottom: 15px;
  }
}

.card-list {
  margin-bottom: -130px;
}
@media screen and (max-width: 480px) {
  .card-list {
    margin-bottom: -120px;
  }
}

.card-input {
  margin-bottom: 20px;
}
.card-input__label {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 500;
  color: black;
  width: 100%;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.card-input__input {
  width: 100%;
  height: 50px;
  border-radius: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #ced6e0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
  padding: 5px 15px;
  background: none;
  color: #1a3b5d;
  font-family: "Source Sans Pro", sans-serif;
}
.card-input__input:hover, .card-input__input:focus {
  border-color: #038f16;
}
.card-input__input:focus {
  -webkit-box-shadow: 0px 10px 20px -13px rgba(3, 143, 22, 0.35);
          box-shadow: 0px 10px 20px -13px rgba(3, 143, 22, 0.35);
}
.card-input__input.-select {
  -webkit-appearance: none;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAeCAYAAABuUU38AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAUxJREFUeNrM1sEJwkAQBdCsngXPHsQO9O5FS7AAMVYgdqAd2IGCDWgFnryLFQiCZ8EGnJUNimiyM/tnk4HNEAg/8y6ZmMRVqz9eUJvRaSbvutCZ347bXVJy/ZnvTmdJ862Me+hAbZCTs6GHpyUi1tTSvPnqTpoWZPUa7W7ncT3vK4h4zVejy8QzM3WhVUO8ykI6jOxoGA4ig3BLHcNFSCGqGAkig2yqgpEiMsjSfY9LxYQg7L6r0X6wS29YJiYQYecemY+wHrXD1+bklGhpAhBDeu/JfIVGxaAQ9sb8CI+CQSJ+QmJg0Ii/EE2MBiIXooHRQhRCkBhNhBcEhLkwf05ZCG8ICCOpk0MULmvDSY2M8UawIRExLIQIEgHDRoghihgRIgiigBEjgiFATBACAgFgghEwSAAGgoBCBBgYAg5hYKAIFYgHBo6w9RRgAFfy160QuV8NAAAAAElFTkSuQmCC");
  background-size: 12px;
  background-position: 90% center;
  background-repeat: no-repeat;
  padding-right: 30px;
}

.slide-fade-up-enter-active {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  position: relative;
}

.slide-fade-up-leave-active {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  position: absolute;
}

.slide-fade-up-enter {
  opacity: 0;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
  pointer-events: none;
}

.slide-fade-up-leave-to {
  opacity: 0;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  pointer-events: none;
}

.slide-fade-right-enter-active {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  position: relative;
}

.slide-fade-right-leave-active {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  position: absolute;
}

.slide-fade-right-enter {
  opacity: 0;
  -webkit-transform: translateX(10px) rotate(45deg);
          transform: translateX(10px) rotate(45deg);
  pointer-events: none;
}

.slide-fade-right-leave-to {
  opacity: 0;
  -webkit-transform: translateX(-10px) rotate(45deg);
          transform: translateX(-10px) rotate(45deg);
  pointer-events: none;
}

.card__title {
  color: black;
  font-size: 2.6rem;
  text-align: center;
  margin-bottom: 2.4rem;
  font-weight: bold;
}

.content {
  padding-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 1236px;
  background: url("../img/photo_2021-11-30_12-22-58 1.png") center no-repeat;
  background-size: cover;
}
.content .content__inner .section__input {
  width: 100%;
  max-width: 100%;
  padding: 25px 0 25px 60px;
  border: 1px solid white;
  border-radius: 15px;
  color: white;
  font-size: 18px;
  margin: 0 auto;
}
.content .content__inner .section__input::-webkit-input-placeholder {
  color: white;
  font-size: 18px;
  font-style: italic;
}
.content .content__inner .section__input::-moz-placeholder {
  color: white;
  font-size: 18px;
  font-style: italic;
}
.content .content__inner .section__input:-ms-input-placeholder {
  color: white;
  font-size: 18px;
  font-style: italic;
}
.content .content__inner .section__input::-ms-input-placeholder {
  color: white;
  font-size: 18px;
  font-style: italic;
}
.content .content__inner .section__input::placeholder {
  color: white;
  font-size: 18px;
  font-style: italic;
}
.content .content__inner .section__input--search {
  background: url("../img/search__input.svg") left 8px top 16px no-repeat;
}

.container {
  width: 100%;
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 100px;
  background-color: white;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.section {
  margin-top: 25px;
}

.menu-btn {
  display: block;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  margin-left: 50px;
  margin-right: 45px;
}
.menu-btn span {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: black;
}
.menu-btn span::before {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: black;
  content: "";
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.menu-btn span::after {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: black;
  content: "";
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}

.menu-btn_active span {
  height: 0;
}
.menu-btn_active span::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.menu-btn_active span::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menu_leftside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.menu_leftside img {
  margin: 21px 0px 11px 0px;
}
.menu_leftside p {
  width: 166px;
  height: 26px;
  font-size: 23.5px;
  font-family: "Secular One", sans-serif;
  color: black;
  margin: 37px 0px 37px 22px;
}

.menu_rightside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu_rightside #minilogo {
  height: 30px;
  margin-left: 0px;
}
.menu_rightside p {
  font-family: "Rosario", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: 38px 12px 38px 0px;
}
.menu_rightside img {
  margin: 42px 56px 43px 0px;
}

.kzt {
  width: 18px;
  height: 15px;
}

.logo {
  width: 70px;
  height: 61px;
}

main {
  background: url("assets/img/pexels-photo-2104742.jpeg") center no-repeat;
  background-size: cover;
  position: relative;
  height: 1000px;
}

.main_search {
  position: absolute;
  top: 400px;
  left: 290px;
  right: 300px;
  background-color: white;
  width: 900px;
  height: 70px;
  border-radius: 30px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main_search img {
  width: 38px;
  height: 45.48px;
  margin-top: 15px;
  margin-left: 20px;
}
.main_search p {
  font-size: 25px;
  font-family: "Rosario", sans-serif;
  padding: 15px 0px 25px 38px;
  color: #5f5d5d;
}

.footer {
  background-color: black;
  width: 100%;
  height: 600px;
  padding-top: 158px;
}

.footer_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.left_up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.left_up img {
  width: 87px;
  height: 78px;
}
.left_up p {
  width: 166px;
  height: 26px;
  font-size: 23.5px;
  font-family: "Secular One", sans-serif;
  color: white;
  margin-left: 22px;
  text-align: center;
  margin-top: 23px;
}

.left_down {
  color: white;
  font-size: 23.5px;
}
.left_down p {
  margin-top: 46px;
}

.right_up .first_inp {
  width: 532px;
  height: 65px;
  border-radius: 5px;
  padding: 22px 305px 18px 28px;
  font-size: 16px;
  margin-left: 112px;
}
.right_up .subscribe {
  background-color: #00A44B;
  width: 289px;
  height: 65px;
  border-radius: 5px;
  margin-left: 50px;
  color: white;
  font-size: 23px;
}

.right_down {
  margin-top: 53px;
  margin-left: 60px;
}

#priceline {
  margin-left: 80px;
}

#booking {
  margin-left: 80px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  html {
    width: 100%;
    overflow-x: hidden;
  }

  body {
    width: 100%;
    overflow-x: hidden;
  }
}
@media only screen and (-o-min-device-pixel-ratio: 3/2) {
  html {
    width: 100%;
    overflow-x: hidden;
  }

  body {
    width: 100%;
    overflow-x: hidden;
  }
}
@media only screen and (min--moz-device-pixel-ratio: 1.5) {
  html {
    width: 100%;
    overflow-x: hidden;
  }

  body {
    width: 100%;
    overflow-x: hidden;
  }
}
@media only screen and (min-device-pixel-ratio: 1.5) {
  html {
    width: 100%;
    overflow-x: hidden;
  }

  body {
    width: 100%;
    overflow-x: hidden;
  }
}